/*.widget.shortcut-widget-box{
	background-color: red !important;
	color: yellow !important;
}
.ce-header.h4{
	color: green !important;
}*/

/*.form-section.card-section, .form-dashboard-section{
	background-color: lightblue !important;
	/*width: 40% !important;*/
}
/*.form-group.control-input.form-control{
	border: 5px solid red !important;
}
.control-input.input-with-feedback{
	border-color: yellow !important;
	background-color: green !important;
}*/